@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 8em;
  margin: 0 auto;
}

li {
  list-style: none;
}

header {
  background-color: #ff6347;
  width: 100%;
}

#logo {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 2;
  float: left;
}

.header-menus {
  float: right;

  .nav li a {
    line-height: 2;
  }

  .nav li a:hover {
    background-color: #ff4500;
  }

  a {
    color: #fff;
    font-size: 16px;
  }
}

.main-image {
  margin-top: -67px;
  background-image: url("../images/main_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.main-title {
  padding-top: 300px;
}

.title-logo {
  font-size: 120px;
  font-weight: bold;
  opacity: 0.8;
}

.subtitle-logo {
  font-size: 50px;
  font-weight: bolder;
  opacity: 0.8;
}

.text-content {
  font-size: 12px;
}

.about {
  h1 {
    font-size: 60px;
    font-weight: bold;
    opacity: 0.8;
  }

  p {
    font-size: 14px;
    color: #333;
  }
}

.user-icon img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin: 15px 0;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.picture {
  margin-top: 10px;
  display: inline-block;
}

.user-info {

}

.user-tweet {
  width: 100%;
  margin: 50px 0;
  overflow: hidden;
  display: flex;

  .user-icon {
    width: 80px;

    img{
      width: 100%;
      height: auto;
    }
  }

  .content {
    padding: 100px 10px 40px 10px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    margin: -45px 0 0 30px;
  }
}

.says {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 460px;
  border-radius: 12px;
  background-color: #f5f5f5;

  p {
    display: inline;
    font-size: 15px;
  }

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

footer {
  padding-top: 50px;
}
