<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="header-logo">
      <%= link_to "Mini Tweet", root_path, id: "logo" %>
    </div>
    <nav class="header-menus">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Mini Tweetとは", about_path %></li>
        <li><%= link_to "ログイン", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
